body {
  background-color: darkgrey;
}
h1 {
  color: rgba(8, 2, 2, 0.418);
}

h2 {
  font-style: italic;
  text-align: center;
}

p {
  font-family: sans-serif;
}

ul {
  font-size: 20px;
  line-height: 30px;
}

h2 {
  font-style: italic;
  text-align: center;
}
.column {
  float: right;
}
.column2 {
  float: left;
}
.ending {
  position: sticky;
  bottom: 10px;
  width: 50%
}
.disclaimer {
  font-size: small;
  font-style: italic;
  color: rgb(207, 58, 31);
}
.brother {
  font-size: large;
  font-style: italic;
  color: rgb(53, 87, 199);
}
.mom {
font-size: large;
font-style: italic;
color: green;
}
.dad {
  font-size: large;
  font-style: italic;
  color: rgb(156, 59, 212)
}
.skyy {
  font-size: large;
  font-style: italic;
  color: skyblue
}
